<h2> <%= @organisation.name %> </h2>

<%= link_to "View Shifts", shifts_path %>
<%= link_to "Edit", edit_organisation_path(:id => @organisation.id) %>
<%= link_to "Leave", leave_organisation_path(:id => @organisation.id), :method => :put %>
